// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer {
  font-weight: bold;
}

.pointer {
  padding-right: 100px;
}

.highlight {
  background-color: rgba(255, 255, 128, .4);
}

p {
margin-left: 5px;
padding-top: 3px;
}
